* {
  box-sizing: border-box;
  font-family: Averta, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font: normal normal 400 20px/1.5 Roboto, Helvetica, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Graphik";
  src: url("fonts/Graphik-Font-Family/GraphikRegular.otf"),
    url("fonts/Graphik-Font-Family/GraphikSemibold.otf"),
    url("fonts/Graphik-Font-Family/GraphikBold.otf") format("truetype"),
    url("fonts/Graphik-Font-Family/GraphikMedium.otf") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header-cont {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: auto;
  right: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);
  background-color: #fff;
  box-shadow: none;
  z-index: 1100;
}

.header-div {
  min-height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  display: flex;
  align-items: center;
}

.header-content {
  margin: auto;
  color: rgb(0, 0, 0);
  display: flex;
  max-width: 1440px;
  width: 88%;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.Nav-links {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
}

.header-text {
  color: #1b1a20;
  margin-right: 48px;
  text-transform: none;
  font: normal normal 400 16px/140% Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.01em;
}

.css-links {
  position: relative;
  box-sizing: border-box;
  border: 0px;
  cursor: pointer;
  min-width: 64px;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.is-active {
  border-bottom: 3px solid #e7332b;
  border-radius: 0;
  justify-content: center;
  line-height: 0px;
  padding: 0;
}

.btn-cont {
  display: flex;
  align-items: center;
}

.Hire-button {
  outline: none;
  background-color: #e7332b;
  border-radius: 0 0 8px 0;
  color: #fff;
  margin-right: 15px;
  padding: 11px 50px;
  text-transform: none;
  font: normal normal 400 16px/19px "Roboto", Arial, Helvetica, sans-serif;
}

/* SECTION 2 */
.section2 {
  padding-top: 220px;
  margin: auto;
  max-width: 1440px;
  width: 85%;
}

.flex-cont {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.left-cont {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.section-head {
  margin: 0;
  color: #161617;
  font: normal normal 800 40px/49px "Roboto", Arial, Helvetica, sans-serif;
}

.red-text {
  color: rgb(231, 51, 43);
}

.line {
  margin-left: 432px;
  margin-top: -24px;
}

.section-details {
  padding-top: 15px;
  color: #787878;
  font: normal normal 400 19px/22px "Roboto", Arial, Helvetica, sans-serif;
  margin: inherit;
  text-align: inherit;
  width: 90%;
}

.buttons-box {
  margin-top: 30px;
}

.Join-button {
  background-color: #585858;
  border-radius: 0 0 8px 0;
  color: #fff;
  font: normal normal 400 16px/19px "Roboto", Arial, Helvetica, sans-serif;
  padding: 11px 50px;
  text-transform: none;
}

.css-buttons {
  outline: none;
  border: none;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  cursor: pointer;
}

.right-cont {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}

.head-image {
  display: flex;
  justify-content: flex-end;
}

.root2-grid {
  display: grid;
  grid-template-areas: "a b";
}

.line2 {
  margin-top: -172px;
  position: absolute;
  right: 0;
}

/* SECTION-3 */
.Section3-main {
  background-image: url(images/bgsection2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  padding-bottom: 142px;
  padding-top: 90px;
}

.root3 {
  width: 85%;
  margin: auto;
  max-width: 1440px;
}

.flex3-cont {
  box-sizing: border-box;
  flex-flow: row wrap;
  margin-top: -24px;
  margin-left: -24px;
  display: flex;
  align-items: center;
}
.root3-grid {
  display: grid;
  grid-template-areas: "a b";
}
.right3-cont {
  padding-left: 24px;
  padding-top: 24px;
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}
.left3-cont {
  width: 75%;
}
.section3-details {
  color: #161617;
  padding-top: 15px;
  font: normal normal 400 19px/22px "Roboto", Arial, Helvetica, sans-serif;
  margin: inherit;
  text-align: inherit;
  width: 90%;
}

.countries-row {
  display: flex;
  padding-top: 19px;
}

.country {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  margin-right: 16px;
  padding: 7px;
  width: 63px;
}

.country img {
  width: 75%;
  margin: auto;
}

/* SECTION 4 */
.section4 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.Heading-grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -24px;
  margin-left: -24px;
}

.Heading-grid {
  display: grid;
  grid-template-areas: "a b";
}

.skills-para {
  width: 50%;
  padding-top: 24px;
  padding-left: 24px;
}

.paraLarge {
  padding-bottom: 35px;
}

.css-div {
  padding-top: 24px;
  padding-left: 24px;
}

.css-devs {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}

.row1-cont {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}

.developers-flex {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -24px;
  margin-left: -24px;
}

.talents {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 30px hsla(0, 0%, 48%, 0.16);
  color: #787878;
  font: normal normal 400 20px/33px "Roboto", Arial, Helvetica, sans-serif;
  padding: 11px 23px;
  text-align: center;
  letter-spacing: 0.05em;
}

.talents:hover {
  transform: translateY(-17px);
  transition-duration: 0.7s;
}

.line22 {
  z-index: -1;
  margin-top: -111px;
  position: absolute;
  right: 5px;
}

.liness2 {
  width: 335px;
}

.softwares-head {
  padding-top: 55px;
  padding-bottom: 35px;
}

.softwares-flex {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -24px;
  margin-left: -24px;
}

/* SECTION5 */
.section5 {
  background-color: rgb(255, 248, 229);
  padding-bottom: 80px;
}

.sect5-heading {
  padding-top: 100px;
  text-align: center;
}
.rope {
  position: absolute;
  left: 0;
  top: 2550px;
}
.talent-grid {
  width: 100%;
  margin: 80px auto;
}
.top-card-holder {
  display: flex;
  width: 100%;
}
.bottom-card-holder {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  min-height: 300px;
  background-color: #fff;
  color: #787878;
  border-radius: 0 0 16px 0;
  margin: 10px 8px;
  z-index: 100;
}
.card:hover {
  background-color: #000;
  color: #f8f8f8;
}
.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 10px;
}
.top-talents-detail {
  width: 85%;
  padding: 15px 0 0;
  font: normal normal 400 17px/22px "Graphik", Arial, Helvetica, sans-serif;
  text-align: center;
}
.bottom-talents-detail {
  width: 83%;
  padding: 15px 0 0;
  font: normal normal 400 17px/22px "Graphik", Arial, Helvetica, sans-serif;
  text-align: center;
}
.css-box {
  display: flex;
}

.buttons-box2 {
  margin-top: 70px;
  justify-content: center;
  display: flex;
}

/* FOOTER */
.footer-cont {
  padding-top: 80px;
  background-color: rgb(22, 22, 23);
}

.footer {
  width: 92%;
  margin: auto;
  max-width: 1440px;
  padding-bottom: 20px;
  width: 89%;
}

.top-content {
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -16px;
  margin-left: -16px;
}

.logo-cont {
  padding-left: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}

.Zlinks-cont {
  padding-left: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}

.footer-box {
  display: flex;
  justify-content: flex-end;
}

.accounts {
  padding-right: 15px;
}

.bottom-content {
  padding-top: 20px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.footer-text {
  color: #fff;
  font: normal normal 400 16px/140% Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.01em;
}

.footer-foot {
  display: flex;
  flex-direction: row;
}
.footer-foot a {
  text-decoration: none;
}

/*first POP-UP SECTION */
#popup-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1300;
  display: none;
}

.popup {
  width: 43%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 70px 44px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.pop-heading {
  text-align: center;
}
.pop-det {
  width: 70%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.popup-btn {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}

.button {
  outline: none;
  background-color: #e7332b;
  border-radius: 0 0 8px 0;
  color: #fff;
  margin-right: 15px;
  padding: 11px 50px;
  text-transform: none;
  font: normal normal 400 16px/19px "Roboto", Arial, Helvetica, sans-serif;
}

.button a {
  color: #fff;
}

.middle-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

/* second POPUP SECTION */
#popup2-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1300;
  display: none;
}

.popup2 {
  width: 43%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 70px 44px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
