* {
  box-sizing: border-box;
  font-family: Averta, sans-serif;
  background-color: rgb(255, 253, 245);
}

.flex-cont-links {
  display: flex;
  /* flex-direction: column; */
  width: 92%;
  margin: auto;
  justify-content: space-between;
}

.flex-cont-links a {
  display: inline-flex;
  color: #444a4f;
  text-decoration: none;
  letter-spacing: 0.02857em;
  font: normal normal 200 18px/1.75 Arial, Helvetica, sans-serif;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}

.thumbs {
  background-color: red;
  border-radius: 100px;
  /* margin-left: -30px; */
  padding: 10px;
  position: absolute;
  width: 55px;
  margin-top: -36px;
}

.enroll-btn {
  display: flex;
  background-color: red;
  border-radius: 71px;
  box-shadow: none;
  /* color: white; */
  padding: 10px 32px;
}

.enroll-btn a {
  color: white;
}

.css-btn {
  position: initial;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.root1 {
  width: 90%;
  margin: auto;
  max-width: 1440px;
  padding-top: 200px;
  /* align-items: center;
  display: flex; */
}

.lady1-img {
  mix-blend-mode: darken;
  /* width: 125%; */
  /* width: 400px;
  height: 400px;
  margin-top: 100px; */
}

.boy1-image {
  mix-blend-mode: darken;
  height: 450px;
  margin-top: 75px;
}

.first-row {
  box-sizing: border-box;
  display: flex;
  /* flex-flow: row wrap; */
  margin-top: -16px;
  margin-left: -16px;
  /* width: calc(100% + 16px); */
}

.first-row > .Frow-item {
  padding-left: 16px;
  padding-top: 16px;
}

.Search-over {
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
  letter-spacing: 0.00938em;
  margin: 0px;
  text-align: center;
  color: red;
}

.Gain-K {
  color: #1b1a20;
  font: normal normal 700 49px/110% Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 10px;
}

.Basic-Intro {
  color: #1b1a20;
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 40px;
  margin: auto;
}

.EN-btn {
  width: 100%;
  margin: auto;
  display: flex;
}

.enroll-btn2 {
  background-color: red;
  border-radius: 71px;
  box-shadow: none;
  color: white;
  padding: 10px 32px;
  text-transform: none;
  text-decoration: none;
  font: normal normal 400 18px/24px Arial, Helvetica, sans-serif;
  margin-left: 175px;
  margin-top: 50px;
}

.line2 {
  width: 85%;
  margin-top: 585px;
}

.male-face {
  margin-left: 360px;
  margin-top: 585px;
  max-width: 1440px;
  position: absolute;
  width: 54px;
}

.root2 {
  width: 90%;
  margin: auto;
  max-width: 1440px;
  padding: 49px;
  justify-content: space-between;
}

.Second-row {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  /* margin-top: -16px; */
  margin-left: -16px;
}

.Ing4good-intro {
  display: flex;
  align-items: center;
}

.I4G-intro {
  color: #1b1a20;
  font: normal normal 600 24px/130% Arial, Helvetica, sans-serif;
  padding-top: 0;
  text-align: inherit;
  text-transform: uppercase;
}

.Ing4good-note {
  display: flex;
  align-items: center;
}

.I4G-note {
  color: #1b1a20;
  font: normal normal 400 24px/130% Arial, Helvetica, sans-serif;
  letter-spacing: 0.00938em;
  text-align: right;
  padding-bottom: 40px;
  padding-top: 30px;
  width: 100%;
}

.root2 > .root2-item {
  padding-left: 16px;
  padding-top: 16px;
}

.mid-Logo {
  display: flex;
  justify-content: center;
}

.logo-img {
  mix-blend-mode: darken;
  /* width: 55%; */
}
