* {
  box-sizing: border-box;
  font-family: Averta, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 253, 245);
  font: normal normal 400 20px/1.5 Roboto, Helvetica, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Graphik";
  src: url("fonts/Graphik-Font-Family/GraphikRegular.otf"),
    url("fonts/Graphik-Font-Family/GraphikBold.otf") format("truetype"),
    url("fonts/Graphik-Font-Family/GraphikMedium.otf") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header {
  position: sticky;
  top: 0;
  z-index: 11100;
  background-color: #fffdf5;
  width: 100%;
  min-height: 64px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 16px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin: 0px auto;
  padding: 30px 0;
}
.flex-cont-links {
  display: flex;
  width: 92%;
  margin: auto;
  justify-content: space-between;
}

.flex-cont-links a {
  display: inline-flex;
  color: #444a4f;
  text-decoration: none;
  letter-spacing: 0.02857em;
  font: normal normal 200 18px/1.75 Arial, Helvetica, sans-serif;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
}
.nav-links a {
  min-width: 64px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  box-sizing: border-box;
  vertical-align: middle;
  color: #585757;
  font: normal normal 400 18px/24px "Graphik", Helvetica, Arial, sans-serif;
  letter-spacing: 0.6px;
  padding: 6px 8px;
  border-radius: 4px;
}
.header-btn {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}
.thumbs {
  position: relative;
  top: 1px;
  left: 32px;
  min-width: 20px;
  min-height: 20px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7332b;
  border-radius: 50%;
}
.enroll-btn {
  font: normal normal 400 18px/1.2 Roboto, Helvetica, Arial, sans-serif;
  background-color: #e7332b;
  border-radius: 71px;
  color: #fff;
  padding: 10px 32px 10px 36px;
}

.root1 {
  width: 90%;
  margin: auto;
  max-width: 1440px;
  padding-top: 100px;
}

.lady1-img {
  mix-blend-mode: darken;
}

.boy1-image {
  mix-blend-mode: darken;
  height: 450px;
  margin-top: 75px;
}

.first-row {
  box-sizing: border-box;
  display: flex;
  margin-top: -16px;
  margin-left: -16px;
}

.first-row > .Frow-item {
  padding-left: 16px;
  padding-top: 16px;
}

.Search-over {
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
  letter-spacing: 0.00938em;
  margin: 0px;
  text-align: center;
  color: #e7332b;
}

.Gain-K {
  color: #1b1a20;
  font: normal normal 700 49px/110% Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 10px;
}

.Basic-Intro {
  color: #1b1a20;
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 40px;
  margin: auto;
}

.EN-btn {
  width: 100%;
  margin: auto;
  display: flex;
}

.enroll-btn2 {
  background-color: #e7332b;
  border-radius: 71px;
  box-shadow: none;
  color: white;
  padding: 10px 32px;
  text-transform: none;
  text-decoration: none;
  font: normal normal 400 18px/24px Arial, Helvetica, sans-serif;
  margin-left: 175px;
  margin-top: 50px;
}

.line2 {
  width: 85%;
  margin-top: 585px;
}

.male-face {
  margin-left: 360px;
  margin-top: 585px;
  max-width: 1440px;
  position: absolute;
  width: 54px;
}

.root2 {
  width: 90%;
  margin: auto;
  max-width: 1440px;
  padding-top: 49px;
  justify-content: space-between;
}

.Second-row {
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-left: -16px;
}

.Ing4good-intro {
  display: flex;
  align-items: center;
}

.I4G-intro {
  color: #1b1a20;
  font: normal normal 600 24px/130% Arial, Helvetica, sans-serif;
  padding-top: 0;
  text-align: inherit;
  text-transform: uppercase;
}

.Ing4good-note {
  display: flex;
  align-items: center;
}

.I4G-note {
  color: #1b1a20;
  font: normal normal 400 24px/130% Arial, Helvetica, sans-serif;
  letter-spacing: 0.00938em;
  text-align: right;
  padding-bottom: 40px;
  padding-top: 30px;
  width: 100%;
}

.Read-more {
  text-decoration: underline;
  color: rgb(36, 166, 36);
}

.root2 > .root2-item {
  padding-left: 16px;
  padding-top: 16px;
}

.mid-Logo {
  display: flex;
  justify-content: center;
}

.logo-img {
  mix-blend-mode: darken;
}

.horizontal-line {
  margin: 0;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
}

.root3 {
  width: 89%;
  max-width: 1440px;
  padding-top: 49px;
  margin: auto;
}

.arrow1 {
  width: 15%;
  height: 15%;
}

.WhyZTxStar-cont {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.whyZT-note {
  flex-basis: 58.3333%;
}

.whyZT {
  color: #e7332b;
  font: normal normal 400 24px/130% Arial, Helvetica, sans-serif;
}

.whyZT-paragraph {
  color: #1b1a20;
  font: normal normal 700 40px/130% Arial, Helvetica, sans-serif;
}

.ZT-text {
  margin: 0;
  letter-spacing: 00.00938em;
}

.star-cont {
  display: flex;
  align-items: center;
}

.star-box {
  display: flex;
  justify-content: right;
  margin-top: 95px;
}

.star-img {
  width: 65.0847%;
  height: 64.9484%;
  mix-blend-mode: darken;
}

.grid-background {
  background: linear-gradient(
    180deg,
    rgba(255, 244, 240, 0),
    #fff4f0 17.19%,
    #fff4f0 84.37%,
    rgba(255, 244, 240, 0)
  );
}

.grid-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.root4 {
  margin: auto;
  width: 92%;
  padding-top: 49px;
  max-width: 1440px;
}

.css-grid {
  box-sizing: border-box;
  padding-left: 24px;
  padding-top: 24px;
}

/* GRID 01 */
.box-01 {
  box-sizing: border-box;
  background: #e7332b;
  border-radius: 18px;
  box-shadow: 0 11px 22px rgba(231, 51, 43, 0.1);
  padding: 58px 48px 93px 50px;
  cursor: pointer;
}

.box-01:hover {
  transform: translateY(-17px);
  transition-duration: 0.5s;
}

.box01-image {
  border-top-right-radius: 18px;
  background: inherit;
  display: flex;
  float: right;
  margin-right: -49px;
  margin-top: -58px;
  width: 42%;
}
/* APPLIES TO ALL PARAGRAGH TAGS IN THE GRIDS */
.css-para01 {
  margin: 0px;
  letter-spacing: 00.00938em;
}

.num-01 {
  background: inherit;
  color: white;
  font: normal normal 700 60px/130% Arial, Helvetica, sans-serif;
}

.remote-01 {
  background: inherit;
  color: white;
  font: normal normal 500 36px/130% Arial, Helvetica, sans-serif;
  padding-bottom: 36px;
  padding-top: 32px;
}

.Note-01 {
  background: inherit;
  color: white;
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
}

/* GRID 02 */
.box-02 {
  box-sizing: border-box;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0 11px 22px rgb(231, 51, 43, 10%);
  padding: 58px 48px 93px 50px;
  cursor: pointer;
}

.box-02:hover {
  transform: translateY(-17px);
  transition-duration: 0.5s;
}

.num-02 {
  background: inherit;
  color: black;
  font: normal normal 700 60px/130% Arial, Helvetica, sans-serif;
}

.Hands-on-02 {
  background: inherit;
  color: black;
  font: normal normal 500 36px/130% Arial, Helvetica, sans-serif;
  padding-bottom: 36px;
  padding-top: 32px;
}

.Note-02 {
  background: inherit;
  color: black;
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
}

/* GRID 03 */
.num-03 {
  background: inherit;
  color: black;
  font: normal normal 700 60px/130% Arial, Helvetica, sans-serif;
}

.collaborative-03 {
  background: inherit;
  color: black;
  font: normal normal 500 36px/130% Arial, Helvetica, sans-serif;
  padding-bottom: 36px;
  padding-top: 32px;
}

.Note-03 {
  background: inherit;
  color: black;
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
}

/* GRID 04 */
.num-04 {
  background: inherit;
  color: black;
  font: normal normal 700 60px/130% Arial, Helvetica, sans-serif;
}

.RealLife-04 {
  background: inherit;
  color: black;
  font: normal normal 500 36px/130% Arial, Helvetica, sans-serif;
  padding-bottom: 36px;
  padding-top: 32px;
}

.Note-04 {
  background: inherit;
  color: black;
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
}

/* GRID 05 */
.num-05 {
  background: inherit;
  color: black;
  font: normal normal 700 60px/130% Arial, Helvetica, sans-serif;
}

.Beginner-05 {
  background: inherit;
  color: black;
  font: normal normal 500 36px/130% Arial, Helvetica, sans-serif;
  padding-bottom: 36px;
  padding-top: 32px;
}

.Note-05 {
  background: inherit;
  color: black;
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
}

/* GRID 06 */
.num-06 {
  background: inherit;
  color: black;
  font: normal normal 700 60px/130% Arial, Helvetica, sans-serif;
}

.Mentorship-06 {
  background: inherit;
  color: black;
  font: normal normal 500 36px/130% Arial, Helvetica, sans-serif;
  padding-bottom: 36px;
  padding-top: 32px;
}

.Note-06 {
  background: inherit;
  color: black;
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f";
}

@media (max-width: 768px) {
  .grid-container {
    display: flex;
  }
}

.section-4 {
  background-color: rgb(231, 51, 43);
  margin-top: 149px;
}

.flex-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -24px;
}

.root3 {
  margin: auto;
  padding-top: 49px;
  width: 89%;
}

.left-flex-cont {
  flex-basis: 41.91%;
}

.section4-wire {
  display: flex;
  justify-content: flex-end;
  margin-right: 128px;
}

.leftCont-text {
  margin: 0;
  letter-spacing: 00.00938em;
}

.small-text {
  color: white;
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
}

.large-text {
  color: white;
  font: normal normal 700 40px/130% Arial, Helvetica, sans-serif;
}

.large2-text {
  color: white;
  font: normal normal 400 18px/130% Arial, Helvetica, sans-serif;
  width: 75%;
  padding-top: 42px;
}

.css-btn4 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  letter-spacing: 00.02857em;
  min-width: 64px;
}

.Button-sect4 {
  background: white;
  border-radius: 71px;
  color: #e7332b;
  margin-bottom: 40px;
  margin-top: 30px;
  padding: 8px 28px;
  text-transform: none;
}

.mid-btn {
  font: normal normal 400 18px/24px Arial, Helvetica, sans-serif;
}

.button-grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -24px;
  width: calc(100% + 24px);
  margin-left: -24px;
}

.button-grid {
  display: grid;
  grid-template-areas:
    "a b"
    "c d";
}

.css-btnG {
  padding-left: 24px;
  padding-top: 24px;
}

.Button-sect42 {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 79px;
  box-sizing: border-box;
  color: white;
  cursor: no-drop;
  display: flex;
  font-size: 16px;
  justify-content: left;
  width: 235px;
  padding: 11px 48px 11px 0px;
  text-transform: none;
}

.css-42 {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  position: relative;
  padding: 10px 15px;
  -webkit-tap-highlight-color: transparent;
}

.Button-sect42 > img {
  padding-right: 9px;
}

/*  STACK ITEMS */
.root5 {
  width: 90%;
  margin: auto;
  padding-top: 69px;
  max-width: 1440px;
}

.css-gridR6 {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -24px;
  margin-left: -24px;
  width: calc(100% + 24px);
}

.root5-item {
  flex-basis: 50%;
}

.css-gridR6 > .root5-item {
  padding-left: 24px;
  padding-top: 24px;
}

.css-Sect5p {
  margin: 0px;
  font-family: "Graphik", Arial, Helvetica, sans-serif;
  letter-spacing: 00.00938em;
}

.small-text5 {
  color: #e7332b;
  font: normal normal 400 24px/130% "Graphik", Arial, Helvetica, sans-serif;
}

.large-text5 {
  color: black;
  font: normal normal 700 40px/130% "Graphik", Arial, Helvetica, sans-serif;
}

.wire-root5 {
  display: flex;
  justify-content: center;
}

.wire10 {
  margin-top: -37px;
  width: 13%;
}

.css-gridR6 > .stack-item {
  padding-left: 24px;
  padding-top: 24px;
  box-sizing: border-box;
}

.box6 {
  background: white;
  border-radius: 41px;
  box-shadow: 0 11px 22px #e7332b1a;
  padding: 40px;
  /* box-shadow: 0 11px 22px rgb(231 51 43 / 10%); */
  /* height: 240px; */
}

.css-Sect5p {
  margin: 0px;
  letter-spacing: 00.00938em;
}

.stacks-title {
  color: #1b1a20;
  font: normal normal 700 20px/130% "Graphik", Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.stacks-bodyParaG {
  color: #1b1a20;
  font: normal normal 400 16px/140% "Graphik", Arial, Helvetica, sans-serif;
  letter-spacing: 0.01em;
  padding-bottom: 30px;
  padding-top: 40px;
}

.grid-stacks {
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f";
}

@media (max-width: 768px) {
  .grid-stacks {
    display: flex;
    flex-direction: row;
  }
}

.enrollbtn-cont {
  width: 31%;
  margin: auto;
  display: flex;
}

.enroll-btn3 {
  background-color: #e7332b;
  border-radius: 71px;
  box-shadow: none;
  color: white;
  padding: 10px 32px;
  text-transform: none;
  text-decoration: none;
  font: normal normal 400 18px/24px "Graphik", Arial, Helvetica, sans-serif;
  width: 90%;
  margin: 50px 120px;
  justify-content: center;
}

.root6-wire {
  margin-left: 10%;
  margin-top: 10px;
}

.section5-para-small {
  margin: 0;
  text-align: center;
  color: #e7332b;
  font: normal normal 400 18px/130% "Graphik", Arial, Helvetica, sans-serif;
}

.section5-para-large {
  margin: 0;
  text-align: center;
  color: #1b1a20;
  font: normal normal 700 24px/130% "Graphik", Arial, Helvetica, sans-serif;
}

.faq-wrapper {
  width: 90%;
  margin: auto;
}
.faq-box {
  margin-top: 40px;
}

.faq-row {
  width: 100%;
  font: normal normal 500 16px/130% "Graphik", Arial, Helvetica, sans-serif;
  padding: 20px;
  border: 1px solid rgb(48, 10, 111);
  cursor: pointer;
  transition: 0.4s;
}
.faq-row:after {
  content: "\02795";
  font-size: 16px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
.panel {
  /* display: none; */
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.plus {
  cursor: pointer;
}
