* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #444a4f;
  background-color: #fff;
}

.hero-container {
  height: 800px;
  background-image: url(images/hero-bg.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero {
  padding: 10px;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.hero h2 {
  font: normal normal 800 28px/34px "Graphik", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 36px;
}

.hero p {
  font: normal normal 400 16px/24px "Graphik", Arial, Helvetica, sans-serif;
  color: #514949;
  opacity: 0.9;
}

.hero-btns {
  margin-top: 92px;
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

.NewToIndustry-btn {
  background-color: #e7332b;
  color: #fff;
  padding: 11px 28px;
  border: 1px solid #e7332b;
  cursor: pointer;
  margin-right: 20px;
}

.NewToIndustry-btn:hover {
  background-color: transparent;
  transition-duration: 0.5s;
  color: #e7332b;
}

.IndustryExP-btn {
  background-color: white;
  color: #e7332b;
  padding: 11px 28px;
  border: 1px solid #e7332b;
  cursor: pointer;
}

.IndustryExP-btn:hover {
  background-color: #e7332b;
  color: white;
  transition-duration: 0.5s;
}

.center-image {
  margin: auto;
  display: flex;
  padding-top: 69px;
  margin-bottom: 49px;
}

.Zlogo-image {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.heading {
  text-align: center;
  font: normal normal 100 14px/24px Arial, Helvetica, sans-serif;
  color: #e7332b;
  margin-top: 141px;
}

.slogan {
  text-align: center;
  font: normal normal 100 24px/40px Arial, Helvetica, sans-serif;
  color: #514949;
  margin-top: 8px;
  margin-bottom: 64px;
}

/* PROGRAM CARDS */
.programs-container {
  width: 90%;
  margin: auto;
  display: flex;
}

.program-card-BG-pink {
  position: absolute;
  left: 0;
  top: 1070px;
  z-index: -1;
}

.program-card-BG-purple {
  position: absolute;
  right: 0;
  top: 1070px;
  z-index: -1;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33333%;
  background-color: #fffafa;
  margin: 10px 16px;
}

.card-content {
  padding: 61px 47px 82px 36px;
}

.card-logos {
  margin-bottom: 48px;
}

.card-details {
  font-size: 16px;
  line-height: 24px;
  color: #514949;
  opacity: 0.9;
}

.red-links a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #e7332b;
  opacity: 0.9;
}
img {
  vertical-align: middle;
  border-style: none;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 215px;
  margin-bottom: 100px;
}

.flex-follow img {
  width: 20px;
  height: 20px;
}

.flex-follow a {
  text-decoration: none;
}

.flex-contact a {
  text-decoration: none;
  color: #e7332b;
}

.flex-Links a {
  text-decoration: none;
  color: #e7332b;
}

.links-cont {
  max-width: 1240px;
  margin: auto;
}

.copyright {
  font: normal normal 500 16px/40px Arial, Helvetica, sans-serif;
  width: 25%;
  margin: 20px auto 80px;
  /* margin: 50px 350px;
  width: 100%; */
}

/* MEDIA QUERY */
/* @media (max-width: 768px) {
  .program-card-row {
    display: block;
  }

  .program-card {
    height: 511px;
    width: 100%;
    background-color: #fffafa;
    padding: 61px 47px 82px 36px;
    margin: 1.5rem;
  }
} */
