* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #444a4f;
  /* text-align: left; */
  background-color: #fff;
}

.hero-container {
  height: 800px;
  background-image: url(images/hero-bg.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero {
  padding: 10px;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.hero h2 {
  font: normal normal 800 28px/34px "Graphik", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 36px;
}

.hero p {
  font: normal normal 400 16px/24px "Graphik", Arial, Helvetica, sans-serif;
  color: #514949;
  opacity: 0.9;
}

.hero-btns {
  margin-top: 92px;
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

.NewToIndustry-btn {
  background-color: red;
  color: #fff;
  padding: 11px 28px;
  border: 1px solid red;
  cursor: pointer;
  margin-right: 20px;
}

.NewToIndustry-btn:hover {
  background-color: transparent;
  transition-duration: 0.5s;
  color: red;
}

.IndustryExP-btn {
  background-color: white;
  color: red;
  padding: 11px 28px;
  border: 1px solid red;
  cursor: pointer;
}

.IndustryExP-btn:hover {
  background-color: red;
  color: white;
  transition-duration: 0.5s;
}

.center-image {
  margin: auto;
  display: flex;
  padding-top: 69px;
  margin-bottom: 49px;
}

.Zlogo-image {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

/* .text-center {
  text-align: center;
} */

.heading {
  text-align: center;
  font: normal normal 100 14px/24px Arial, Helvetica, sans-serif;
  color: red;
  margin-top: 141px;
}

.slogan {
  text-align: center;
  font: normal normal 100 24px/40px Arial, Helvetica, sans-serif;
  color: #514949;
  margin-top: 8px;
  margin-bottom: 64px;
}

/* .Ztraining {
  position: relative;
  z-index: 1;
}

img .card-bg-svg-2 {
  width: 90%;
  position: absolute;
  right: -120px;
  top: -75px;
  z-index: 44;
}

.d-none {
  display: none;
}

.d-xl-block {
  display: block;
}

img .card-bg-svg-1 {
  width: 100%;
  position: absolute;
  left: -120px;
  top: -75px;
  z-index: -1;
} */

.program-card-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.program-card {
  height: 611px;
  width: 100%;
  background-color: #fffafa;
  padding: 61px 47px 82px 36px;
  margin: 1.5rem;
}

.text-top,
.text-center,
.text-bottom {
  text-align: left;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.program-card img {
  margin-bottom: 48px;
}

.programs-cont a {
  text-decoration: none;
  color: red;
  font: normal normal 100 16px/1.5 Arial, Helvetica, sans-serif;
  opacity: 0.9;
}

/* img .Pcard-backG {
  width: 100%;
  position: absolute;
  left: -120px;
  top: -75px;
  z-index: -1;
} */

img {
  vertical-align: middle;
  border-style: none;
}

/* .footer {
  margin-top: 215px;
} */

.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 215px;
  margin-bottom: 100px;
}

.flex-follow img {
  width: 20px;
  height: 20px;
}

.flex-follow a {
  text-decoration: none;
}

.flex-contact a {
  text-decoration: none;
  color: red;
}

.flex-Links a {
  text-decoration: none;
  color: red;
}

.links-cont {
  max-width: 1240px;
  margin: auto;
}

.copyright {
  margin: 50px 350px;
  width: 100%;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  .program-card-row {
    display: block;
  }

  .program-card {
    height: 511px;
    width: 100%;
    background-color: #fffafa;
    padding: 61px 47px 82px 36px;
    margin: 1.5rem;
  }
}
